<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="local"></add>
  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="Data Source=(localdb)\v11.0;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"></add>
   <add name="remote" connectionString="Server=b34ee532-8d60-4666-b618-a44f004273b4.sqlserver.sequelizer.com;Database=dbb34ee5328d604666b618a44f004273b4;User ID=izfhlrgwkhcpttvn;Password=tFCKJqSMNyArXt5TdR75dQDiGYPV6jQ7DGCRC8WenHKcp7efuvHcW4ALbtdTH5PC;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>